*p* {
    margin-bottom 15px;
    font-size: 13px;
    color:white;
    text-align: center;
    text-decoration: underline;
    background-color: rgb(0, 0, 0);
  }

   * {
    background-color: black;

}









